$text-shadow-color: #888;
#banner {
    h2, h3, h4, h5, h6 {
        text-shadow: -1px 0 $text-shadow-color, 0 1px $text-shadow-color, 1px 0 $text-shadow-color, 0 -1px $text-shadow-color;
    }
    p {
        text-shadow: -0.5px 0 $text-shadow-color, 0 0.5px $text-shadow-color, 0.5px 0 $text-shadow-color, 0 -0.5px $text-shadow-color;
    }
}

.box.special.grey {
    background-color: #fafafa;
    .pet {
        h3 {
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0.5em;
        }
    }
    .image.featured {
        margin-bottom: 1em;
        img {
            height: 200px;
        }
    }
}

.features-row.row {
    margin: 2em 0 2em -2em;
    .icon.major {
        margin-bottom: 0.5em;
        &.selected {
            border: 5px solid rgb(223, 223, 223);
        }
        .feature-image {
            height: 66%;
            width: 66%;
            margin: 0 auto;
            margin-top: 17%;
            background-size: contain;
            background-repeat: no-repeat;

            fill: white;
        }
    }
}