%iframe{frameborder: "0", height: "450", src: "https://www.google.com/maps/embed/v1/place?q=#{city}+#{address}&language=ru&key=AIzaSyAHwUlih0B0yIibR4HHkLPfPfPogr2L7y0", style: "border:0", width: "600"}
