%header#header
  %h1
    %a{ href: root_path }
      %span
        = t('application.attributes.name')
  %nav#nav
    %ul
      %li
        %a{:href => help_welcome_index_path}
          %span
            = t('web.header.how_i_help')
      %li
        %a{:href => new_post_path}
          %span.fa.fa-plus
            = t('web.posts.new.title')
      %li
        %a.button{:href => new_session_path} Войти
